<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.exp6.LoginServlet</servlet-class>
		
		<init-param>
			<param-name>username</param-name>
			<param-value>user1,user2,user3</param-value>	
		</init-param>
		<init-param>
			<param-name>passwords</param-name>
			<param-value>pwd1,pwd2,pwd3</param-value>
		</init-param>
		<init-param>
			<param-name>cardid</param-name>
			<param-value>111,222,333</param-value>
			</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginSuccess</servlet-name>
		<servlet-class>com.exp6.LoginSuccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginSuccess</servlet-name>
		<url-pattern>/LoginSuccess</url-pattern>
	</servlet-mapping>
</web-app>